<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <section>
            <h1>Template</h1>
        </section>
        <section>
            <p class="blocktext">Quelquefois, ce n'est pas le texte qui doit être centré, mais le bloc dans son ensemble qui doit l'être. Ou bien, exprimé différemment: on veut que les marges droite et gauche soient égales. La manière de faire cela est de fixer les marges à 'auto'. C'est normalement utilisé avec un bloc de largeur fixe, car si le bloc est lui-même flexible, cela prendra toute la largeur disponible. Voici un exemple: <br>

            P.blocktext {
                margin-left: auto;
                margin-right: auto;
                width: 60em;
            }
            </p>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>