/* CSS Cascading Style Sheet */
/* Pensez au style en cascade */

/* On peut sélectionner les noms des balise html*/
/* Conséquence: tous les éléments de ce type seront modifiés*/
/* On peut sélectionner plusieurs éléments en même temps en les séparant par une virgule*/
h1, .subtitle {
    color: red;
}

p {
    color: green;
}

p {
    color: orange;
}

body {
    color: red;
}
/* On peut sélectionner des balises spécifiques grâce à leur class en utilisant un . 
Conséquence: l'élément qui a cet id sera modifié */
.odile {
    color: orange;
}

/* On peut sélectionner des balises spécifiques grâce à leur id en utilisant un # 
Mais on préfère laisser les ID au Javascript sauf exception */
#eric {
    color: yellow;
}

.description {
    color: pink;
}

.pink {
    color: blue;
}
/* On peut sélectionner des balises pécifiques par sélecteur descendant = chemin
Ex. le paragraphe qui se trouve dans une div qui a la class description */
.description p {
    color: pink;
}
