<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - Contact</title>
</head>
<body>
    <h1>Contact</h1>
    <!-- le a et l'image étant des éléments inline, ils s'affichent côte à côte -->
    <!--Lien pour retourner sur la page d'accueil-->
    <a href="../index.html">Home</a>
    <!--Afficher l'image-->
    <img src="../img/pexels-mark-neal-3413359.jpg" alt="Vue d'un balcon en montagne" title="">
</body>
</html>