* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: aquamarine; */
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
    color: #333;
    margin: auto;
    padding: auto;
}

.about-us {
    border: 1px solid #333;
    width: 90%;
    max-width: 1080px;
    min-height: 300px;
    margin: 50px auto;
    padding: 20px;
    text-align:center;
}

/* div {
    text-align:center;
    padding: 0px 15px;
} */
.about-us h2 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.about-us a {
    text-decoration: none;
    color: rgb(217, 76, 76);
}

.about-us a:hover {
    color: red;
}

p {
    margin-bottom: 20px;
}
