* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    margin: auto;
    padding: auto;
}

a {
    text-decoration: none;
    color: #333;
}

.about-us {
    border: 1px solid #333;
    width: 90%;
    max-width: 1200px;
    min-height: 300px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.about-us h1 {
    font-size: 28px;
    /* font-weight: bold; */
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about-us p {
    font-size: 14px;
    margin-bottom: 20px;
}
.about-us a {
    color: rgb(217, 76, 76);
}

.about-us a:hover {
    color: red;
}


