* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pour faire hériter en cascade certaines propriétés générales pour toute la page */
body {
    font-size: 18px;
    /* background-color: aquamarine; */
}

h1 {
    /* valeur par défaut:
    display: block; */
    background-color: rgb(59, 119, 231);
    color: #fff;
    text-align: center;
    /* Par défaut la width d'un élément block est de 100%, la hauteur est automatique en fonction du contenu */
    width: 50%;
    /* Par défaut la hauteur est sur auto {height: auto;} */
    height: 200px;
    /* margin sert à mettre la marge extérieure, et a pls raccourcis */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    /* margin: 100px; 
    margin: 100px 20px;
    margin: 100px 20px 50px 70px;
    margin-left: auto; */
    margin: 50px auto;

    /* Padding sert à mettre de la marge intérieure
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 20px; */

    /* Versions raccourcies:
    padding: 50px; 
    padding: 40px 90px;
    padding: 40px 90px 50px 30px; */
    padding: 20px;
    
    /* La propriété raccourcie { border } permet de préciser la taille, le style et la couleur de la bordure */
    border: 5px solid #333;
    /* { box-shadow: } permet de créer une ombre : 1e valeur= décalage du x, 2e valeur= décalage du y, 3e valeur= blur/flou */
    box-shadow: 4px 4px 12px #666;
    /* { border-radius: } permet d'arrondir les angles */
    border-radius: 10px;
}

.container {
    background-color:crimson;
    color:#fff;
    min-width: 320px;
    max-width: 1080px;
    width: 90%;
    min-height: 200px; /* Permet au texte de ne pas déborder de la div
    /* height: 200px; */
    margin: 50px auto;
    padding: 20px;
}

.circle {
    background-color: #eb5858;
    width: 100px;
    height: 100px;
    margin: auto;
    box-shadow: -4px -4px 12px #999;
    /* Pour créer un rond, on arrondit les bords jusqu'à 50% et on obtient un rond */
    border-radius: 50%;
}

